:root {
  --color-primario: #16c0b0;
  --color-texto-oscuro: #39495c;
  --color-borde: #d8d8d8;
  --color-fondo: #f2f2f2;
  --color-tarjetas: #ffffff;
  --color-secundario: #12998d;
}

body.oscuro {
  --color-primario: #12a193;
  --color-texto-oscuro: #e0e0e0;
  --color-borde: #444444;
  --color-fondo: #121212;
  --color-tarjetas: #1e1e1e;
  --color-secundario: #0e7a71;
}

body {
  background-color: var(--color-fondo);
  margin: 0;
  font-family: tahoma, sans-serif;
  color: var(--color-texto-oscuro);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/*Diseño con nav-bar*/
.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 60px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav-link:hover {
  text-decoration: underline;
}

/*Animacion globales */
.cart {
  padding: 8px 20px;
  background-color: var(--color-tarjetas);
  border: 1px solid var(--color-borde);
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  color: var(--color-texto-oscuro);
  transition: background-color 0.3s ease;
}
.cart-animation {
  animation: ShopEfect 0.3s ease-in-out;
}

@keyframes ShopEfect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.flash-message {
  position: fixed;
  top: 80px;
  right: 40px;
  background-color: var(--color-primario);
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  z-index: 1000;
  animation: fade-in-out 3s ease-in-out forwards;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

input,
select,
textarea {
  box-sizing: border-box;
  font-family: inherit;
}
